
@{
    ViewData["Title"] = "Items";
}


<ul>
    @foreach (var item in (List<string>)ViewData["ItemsList"])
    {
        
    }
</ul>

@if (ViewData["SelectedItem"] != null)
{
    <h2>Item @ViewData["SelectedItem"]</h2>
}


