
@{
    ViewData["Title"] = "Product";
}

<h1>Stocks</h1>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Hisse Kodu</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PGSUS</td>
            <td>Şuan için kalsın ama kritik (Bu hafta tekrar gözlemleyelim çarşamba falan)</td>
        </tr>
        <tr>
            <td>KRDMR</td>
            <td>Şuan SATMA ama her an al verebilir, vermezse SATmamız lazım (Bu hafta tekrar gözlemleyelim çarşamba falan)</td>
        </tr>
        <tr>
            <td>ASELS</td>
            <td>SATMA</td>
        </tr>
        <tr>
            <td>SISE</td>
            <td>SAT</td>
        </tr>
        <tr>
            <td>ASUZU</td>
            <td>SAT</td>
        </tr>
        <tr>
            <td>SDTTR</td>
            <td>SAT</td>
        </tr>
        <tr>
            <td>BYDNR</td>
            <td>SAT</td>
        </tr>
        <tr>
            <td>CIMSA</td>
            <td>SAT</td>
        </tr>
        <tr>
            <td>HUNER</td>
            <td>SAT</td>
        </tr>
        <tr>
            <td>THYAO</td>
            <td>Şuan için kalsın ama kritik (Bu hafta tekrar gözlemleyelim çarşamba falan)</td>
        </tr>
        <tr>
            <td>TOASO</td>
            <td>SAT</td>
        </tr>
        <tr>
            <td>TUPRS</td>
            <td>Şuan SATMA ama her an al verebilir, vermezse SATmamız lazım (Bu hafta tekrar gözlemleyelim çarşamba falan)</td>
        </tr>
        <tr>
            <td>ZOREN</td>
            <td><strong style="color: red;">Kesin SAT</strong> (CEO'su istifa etti, gözaltına alındı)</td>
        </tr>
    </tbody>
</table>

<!-- Bootstrap için ekleyin (Eğer sayfanızda yoksa) -->
<link href


