<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />

    <!-- jQuery ve Validasyon Scriptleri -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto"> <!-- Menüleri sola hizaladık -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Person" asp-action="CreatePerson">Add Person</a>
                        </li>

                        <!-- Customers Dropdown Menü -->
                        <li class="nav-customers dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="customersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Customers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="sustomersDropdown">
                                <li><a class="dropdown-item" asp-controller="Customers" asp-action="CustomersList" asp-route-id="1">Customers</a></li>
                            </ul>
                        </li>

                        <!-- Employees Dropdown Menü -->
                        <li class="nav-employees dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="employeesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Employees
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="sustomersDropdown">
                                <li><a class="dropdown-item" asp-controller="Employees" asp-action="EmployeesList" asp-route-id="1">Employees</a></li>
                            </ul>
                        </li>

                        <!-- Product Dropdown Menü -->
                        <li class="nav-produc dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Product
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="producDropdown">
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Stocks" asp-route-id="1">Product 1</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="ProductList" asp-route-id="2">Product 2</a></li>
                            </ul>
                        </li>

                        <!-- Details Dropdown Menü -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="detailsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Details
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="detailsDropdown">
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Details" asp-route-id="1">Detail 1</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Details" asp-route-id="2">Detail 2</a></li>
                            </ul>
                        </li>


                        <!-- Items Dropdown Menü -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="itemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Items
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="itemsDropdown">
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Items" asp-route-id="1">Item 1</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Items" asp-route-id="2">Item 2</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Items" asp-route-id="3">Item 3</a></li>
                            </ul>
                        </li>

                    </ul>


                    <!-- Sign Up ve Sign In Butonları -->
                    <div class="d-flex ms-auto">
                        <!-- ms-auto ile en sağa çektik -->
                        <a class="btn btn-outline-primary me-2" asp-controller="SignUp" asp-action="Register">Sign Up</a>
                        <a class="btn btn-primary" asp-controller="SignIn" asp-action="Login">Sign In</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Portfolio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
